framework: net45, net452, net46, net47, netcoreapp3.0

source https://api.nuget.org/v3/index.json

// copy_local: true => PrivateAssets=All, mean all these type of assets are private of the project (so no need to add the deps in the nupkg dep list)
nuget JetBrains.Annotations copy_local: true
nuget Microsoft.SourceLink.GitHub prerelease copy_local: true
nuget WpfAnalyzers copy_local: true

nuget xunit < 3
nuget xunit.runner.visualstudio < 3
nuget Microsoft.NET.Test.Sdk